h1 {
    color: rgb(194, 63, 11);
    padding-left: 80px;
    text-decoration: seagreen;
    font-weight: 200;
    font-style: italic;
    font-size: xx-large;
}

.header{
    background-color: cadetblue;
    display: flex;

    
}

.grid{
    background-color: rgb(141, 77, 184);
    display: flex;
    justify-content: space-evenly;
    
    

    
}
.grid:hover{
    transform:scale(1.2);
}
.animal{
    background-color: rosybrown;
    text-decoration: seagreen;
}


